

// base styles
// ----------------------------------------------------------------------



$bbackgroundColor: #44484b;

body { 
	background: $bbackgroundColor;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.memosWrapper {
	width: 100%;
	margin: 0 auto;
	background: $bbackgroundColor;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.rangeBlock {
	font-size: 20px;
	line-height: 1.2;
	color: #8f969c;
	border-bottom: 1px solid #666b6f;
	margin: 0;
	padding: 1em 10px 0 0;
	position: relative;
	&:before,
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		height: 100%;
		width: 3px;
	}
	&:not(.today):before {
		width: 50px;
		background: rgba(0,0,0,0.5);
	}
	&.today:after { background: #ff7200; }
	&.d3:after { background: #ae4e00; }
	&.d7:after { background: #7b3700; }
	
	.date {
		float: left;
		margin-top: 0;
		padding-left: 12px;
		font-size: 1rem;
		display: block;
		text-align: center;
		line-height: 1.8em;
		b {
			display: block;
			font-weight: normal;
			font-size: 2.4rem;
		}
	}
}

// custom today bloc
.rangeBlock.today {
	.memos { margin: 0; }
}

.memos {
	margin: 0 0 0 60px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	// align-items: flex-start;
	// justify-content: space-around;
	
	li {
        position: relative;
		box-sizing: border-box;
		background: #2b3135;
		min-height: 6em;
		max-height: 8em;
		margin: 0;
		padding: .3em;
		text-align: left;
		flex: 0 1 auto;
		align-self: justify;
		border: 1px solid $bbackgroundColor + 30;
		border-radius: 10px;
		margin: 0 0 2% 2%;
	}
}

.rangeBlock.today {
	font-size: 2em;
	li { 
		flex-basis: 48%;
	}
}

.rangeBlock.d3 {
	font-size: 1.6em;
	li { 
		flex-basis: 31.33%;
	}
}

.rangeBlock.d7 {
	font-size: 1em;
	li { 
		flex-basis: 23%;
	}
}


// ================================

.pageHeader {
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('/www/img/header_bcgr.jpg');
    background-size: 100%;
}

.timeStamp {
    position: absolute;
    top: -5px;
    left: -5px;
    background: #333;
    strong { 
        font-size: 1.2em;
    }
    
}